<div id="sign-in">
    <div id="sign-up">Don't have an account yet? <a href="/sign-up">Sign Up</a></div>
    <div class="container">
        <h2 style="margin-bottom: 50px;">Sign In</h2>
        <div class="container" style="width: 70%;">
            <form name="form" (ngSubmit)="formData.form.valid && onSubmit(formData)" #formData="ngForm">
                <div class="form-group" [ngClass]="{'has-error':formData.submitted && !username.valid }">
                    <label for="Email">Email </label>
                    <input ngModel #username="ngModel" type="text" minlength="6" class="form-control" name="username"
                        required>
                    <div *ngIf="formData.submitted && !username.valid" class="help-block">Email không hợp lệ</div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':formData.submitted && !password.valid }">
                    <label for="Email">Mật khẩu </label>
                    <input ngModel #password="ngModel" type="password" minlength="6" class="form-control"
                        name="password" required>
                    <div *ngIf="formData.submitted && !password.valid" class="help-block">Mật khẩu không hợp lệ</div>
                </div>
                <div>
                    <div style="padding-top: 14px; float: left;">
                        <a href="">Forgot Password</a>
                    </div>
                    <div style="float: right;" class="form-group">
                        <button class="btn btn-primary" type="submit" style="width: 100px; height: 50px;">Sign
                            in</button>
                    </div>
                </div>
            </form>
            <div style="clear: right; text-align: center; margin: 100px 0px 50px 0px;">
                <span style="color: rgb(232, 231, 237);">OR</span>
            </div>
            <div class="row">
                <div class="col-4">
                    <button class="btn" style="background-color: rgb(62, 98, 215);">
                        <i class="fab fa-facebook-f"></i>&nbsp;
                        Facebook</button>
                </div>
                <div class="col-4">
                    <button class="btn" style="background-color: rgb(56, 106, 231);">
                        <i class="fab fa-twitter"></i>&nbsp;
                        Twitter
                    </button>
                </div>
                <div class="col-4">
                    <button class="btn" style="background-color: rgb(251, 73, 98);">
                        <i class="fab fa-google"></i>&nbsp;Google
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>