
.sign-in--sign-up{
    float: right;
    padding: 50px 20px 0px 0px;
    margin-bottom: 100px;
}
.container{
    clear: right;
    width: 50%;
}
.container h2{
    text-align: center;
}
.row button{
    color: white;
    width: 140px;
}
.row div{ 
    text-align: center;
}
