<div id="sign-in">
    <div id="sign-up">Don't have an account yet? <a href="/sign-up">Sign Up</a></div>
    <div class="container">
        <h2 style="margin-bottom: 50px;">Sign In</h2>
        <div class="container" style="width: 70%;">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="">Email </label>
                    <input type="text" class="form-control" formControlName="username" placeholder="Email">
                    <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)"
                        class="alert alert-warning">
                        User không hợp lệ
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Password </label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Password">
                    <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
                        class="alert alert-warning">
                        Password không hợp lệ </div>
                </div>
                <div>
                    <div style="padding-top: 14px; float: left;">
                        <a href="">Forgot Password</a>
                    </div>
                    <div style="float: right;" class="form-group">
                        <button class="btn btn-primary " type="submit" style="width: 100px; height: 50px;">Sign
                            in</button>
                    </div>
                </div>
            </form>
            <div style="clear: right; text-align: center; margin: 100px 0px 50px 0px;">
                <span style="color: rgb(232, 231, 237);">OR</span>
            </div>
            <div class="row">
                <div class="col-4">
                    <button class="btn" style="background-color: rgb(62, 98, 215);">
                        <i class="fab fa-facebook-f"></i>&nbsp;
                        Facebook</button>
                </div>
                <div class="col-4">
                    <button class="btn" style="background-color: rgb(56, 106, 231);">
                        <i class="fab fa-twitter"></i>&nbsp;
                        Twitter
                    </button>
                </div>
                <div class="col-4">
                    <button class="btn" style="background-color: rgb(251, 73, 98);">
                        <i class="fab fa-google"></i>&nbsp;Google
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>