
#toolbar{
    background: white;
    height: 100px;
}
#tollbar .btn{
 height: 100px;
}
#toolbar .btn:hover{
    border-bottom: 5px solid blue;
}
#setting{
    float:right;
    padding: 25px;
}
.router-link-bottom{
    border-bottom: 5px solid blue;

}