.toolbar{
    background: white;
    height: 100px;
}
.tollbar .btn{
    height: 100px;
}
.toolbar .btn:hover{
    border-bottom: 5px solid blue;
}
.router-link-bottom:hover{
    border-bottom: 5px solid blue;
}
.toolbar--setting{
    float:right;
    padding: 25px;
}
.toolbar--user{
    float: left;
}
.toolbar--user-icon{
    height: 50px;
    width: 50px;
    padding: 8px;
}

.dropbtn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: white;
  }
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown:hover .dropdown-content {
    display: block;
}
  
 