<div id="toolbar">
    <div style="float: left;">
        <button type="button" class="btn" [routerLink]="['']" routerLinkActive="router-link-active" >
            <h1> Danh sách </h1>
        </button>
        <button type="button" class="btn" [routerLink]="['/create']" routerLinkActive="router-link-active" >
            <h1>Tạo sản phẩm </h1>
        </button>
    </div>
    <div id="setting">
        <div style="float:left">
            <i style="height: 50px;width: 50px;padding: 8px;" class="far fa-bell"></i>
            <i style="height: 50px;width: 50px;padding: 8px" class="fa fa-cog"></i>
        </div>
        <div style="float:left">
            <img src="../../assets/img/avatar.jpeg" alt="avatar" style="height: 50px;width: 50px; border-radius: 50%;">
        </div>
    </div>
</div>