<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort>
        <ng-container>

        <tr>
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <th style="width: 250px;"></th>
        </tr>
        <tr>
            <td>{{i+1}}</td>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            <td>
                <div class="row">
                    <div class="col-4" style="text-align: center;">
                        <button type="button" class="btn"
                            style="border-radius:50%; border:solid 1px rgb(97, 230, 52); background-color: rgb(215, 247, 215);">
                            <i style="color: rgb(97, 230, 52);" class="fa fa-check"></i></button>
                        <div>Duyệt</div>
                    </div>
                    <div class="col-4" style="text-align: center;">
                        <button type="button" class="btn"
                            style="border-radius:50%; border:solid 1px rgb(252, 60, 12); background-color: rgb(254, 217, 217);">
                            <i style="color: rgb(252, 60, 12);" class="fas fa-trash"></i></button>
                        <div>Xóa</div>
                    </div>
                    <div class="col-4" style="text-align: center;">
                        <button type="button" class="btn"
                            style="border-radius:50%; border:solid 1px rgb(252, 60, 12); background-color: rgb(254, 217, 217);">
                            <i style="color: rgb(252, 60, 12);" class="fas fa-trash"></i>
                        </button>
                        <div>Cập nhật</div>
                    </div>
                </div>
            </td>
        </tr>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>