<div id="listdetail">
    <app-hearder></app-hearder>
    <div id="table">
        <div id="search">
            <div>
                <i class="fa fa-search" style="width: 30px;"></i>
                <input style="border:solid 0px white;
                background-color: rgb(237, 240, 254);
                height: 30px;" type="text" placeholder="Search" (input)="search($event.target.value)">
                <label for="s"></label>
            </div>
        </div>
        <table class="table table-striped" [mfData]="filteredProduct" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
                <tr>
                    <th style="width: 50px;text-align: center;">STT</th>
                    <th>
                        <mfDefaultSorter by="productcode">
                            Mã sản phẩm
                        </mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="date">Ngày đăng</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="city">Khu vực</mfDefaultSorter>
                    </th>
                    <th style="width: 150px;text-align: center;" by="status">
                        Trạng thái
                    </th>
                    <th style="width: 250px;">
                        <mfDefaultSorter></mfDefaultSorter>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of mf.data; let i = index">
                    <td style="text-align: center;padding-top: 25px;">{{i+1}}</td>
                    <td style="padding-top:25px">
                        <a [routerLink]="['/detail', product.id]" routerLinkActive="router-link-active">
                            {{product.productcode}}
                        </a>
                    </td>
                    <td style="padding-top:25px">{{product.date | date}}</td>
                    <td style="padding-top:25px">{{product.city}}</td>

                    <td style="width: 150px; padding-top: 25px; text-align: center;">
                        <div *ngIf="product.status">
                            <span style="color: rgb(130, 218, 60);text-align: center;">Đợi duyệt</span>
                        </div>
                        <div *ngIf="!(product.status)">
                            <span style="color: rgb(224, 54, 33);text-align: center;"> Đã xóa</span>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-4" style="text-align: center;">
                                <button type="button" class="btn"
                                    style="border-radius:50%; border:solid 1px rgb(97, 230, 52); background-color: rgb(215, 247, 215);">
                                    <i style="color: rgb(97, 230, 52);" class="fa fa-check"></i></button>
                                <div>Duyệt</div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                <button type="button" class="btn" style="border-radius:50%; border:solid 1px rgb(252, 60, 12);
                                     background-color: rgb(254, 217, 217);" (click)="deletePost(product.id)">
                                    <i style="color: rgb(252, 60, 12);" class="fas fa-trash"></i></button>
                                <div>Xóa</div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                <a [routerLink]="['/edit', product.id]">
                                    <button type="button" class="btn" style="border-radius:50%; 
                                    border:solid 1px rgb(252, 60, 12); 
                                    background-color: rgb(254, 217, 217);" (click)="edit()">
                                        <i style="color: rgb(252, 60, 12);" class="fas fa-trash"></i>
                                    </button>
                                </a>
                                <div>Cập nhật</div>
                            </div>

                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>

                <tr>
                    <td colspan="8">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5, 10]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>