<div id="listdetail">
    <app-hearder></app-hearder>
    <div id="table">
        <div id="search">
            <div> <i class="fa fa-search" style="width: 30px;"></i>
                <input style="border:solid 0px white;background-color: rgb(237, 240, 254); height: 30px;" type="text"
                    placeholder="Search">
            </div>

        </div>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 100px; text-align: center;">STT</th>
                    <th>Mã sản phẩm </th>
                    <th>Ngày đăng </th>
                    <th>Khu vực</th>
                    <th>Trạng thái </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of filteredProduct; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{product.productcode}}</td>
                    <td>{{product.date | date}}</td>
                    <td>{{product.city}}</td>
                    <td>{{product.status}}</td>
                    <td>
                        <button type="button" class="btn"
                            style="border-radius:50%; border:solid 1px rgb(97, 230, 52); background-color: rgb(215, 247, 215);">
                            <i style="color: rgb(97, 230, 52);" class="fa fa-check"></i></button> &nbsp;
                        <button type="button" class="btn"
                            style="border-radius:50%; border:solid 1px rgb(252, 60, 12); background-color: rgb(254, 217, 217);">
                            <i style="color: rgb(252, 60, 12);" class="fas fa-trash"></i></button>&nbsp;
                        <button>1</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>