
#listdetail{
    padding: 8px;
    // width: 85%;
}
#toolbar{
    background: white;
    height: 100px;
}
#tollbar .btn{
 height: 100px;
}
#toolbar .btn:hover{
    border-bottom: 5px solid blue;
}
#setting{
    float:right;
    padding: 25px;
}
#table{
    background-color: white;
    margin-top: 20px;
}
#search{
    float:right;
    // padding: 8px;
    background-color: rgb(237, 240, 254);
    margin: 8px;
    border-radius: 5px;
}
thead tr {
    background-color: rgb(237, 240, 254);
}
