<app-hearder></app-hearder>
<div class="create bg-white br-15 h-100%">
    <h1 style="padding: 60px 0px 0px 20px;">THÔNG TIN CƠ BẢN</h1>
    <form name="form" (ngSubmit)="formData.form.valid && onSubmit(formData)" #formData="ngForm">
        <div class="form-group row">
            <div class="col-2">
                <h2 class="create pl-20" style="padding-left: 20px; "> Tiêu đề (*)</h2>
            </div>
            <div class="col-10">
                <div class="form-group" [ngClass]="{'has-error':formData.submitted && !productcode.valid }">
                    <input ngModel #productcode="ngModel" type="text" minlength="6"
                        class="form-control create__input-title" name="productcode" required>
                    <div *ngIf="formData.submitted && !productcode.valid" class="help-block">Mã sản phẩm không hợp lệ
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <h2 style="padding-left: 20px ;"> Mô tả (*)</h2>
            </div>
            <div class="col-7">
                <div class="form-group" [ngClass]="{'has-error':formData.submitted && !city.valid }">
                    <textarea class="create create__form--textarea" ngModel #city="ngModel" type="text" minlength="6"
                        class="form-control" name="city" required></textarea>
                    <div *ngIf="formData.submitted && !city.valid" class="help-block"> Tiêu đề không hợp lệ
                    </div>
                </div>
            </div>
            <div class="col-3" style="right:15px;">
                <div> Giới thiệu chung về bất động sản của bạn.
                    Ví
                    dụ: Khu nhà có vị trí
                    thuận lợi: Gần công
                    viên, gần trường học,... Tổng diện tích 52m2,đường đi ô tô vào tận cửa
                    <div style=" color: red; margin-top: 50px;"> Lưu ý: Chỉ giao dịch bằng tiền Việt Nam Đồng
                    </div>
                </div>
            </div>
        </div>

        <div class="row create-detail">
            <div class="col-6 row">
                <div class="col-5">
                    <h3>Diện tích </h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
                <div class="col-5">
                    <h3>Hình thức </h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
                <div class="col-5">
                    <h3>Tỉnh/Thành phố (*)</h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
                <div class="col-5">
                    <h3>Diện tích </h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
            </div>
            <div class="col-6 row">
                <div class="col-5">
                    <h3>Giá</h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
                <div class="col-5">
                    <h3>Loại đất </h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
                <div class="col-5">
                    <h3>Quận/Huyện (*) </h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
                <div class="col-5">
                    <h3>Đường/Phố(*) </h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
            </div>
        </div>
        <div style="padding: 20px;">
            <h3> Địa chỉ hiển thị:</h3>
        </div>
        <div class="row create-detail">
            <div class="col-6 row">
                <div class="col-10">
                    <h2>Vị trí(*):</h2>
                    Nhập tọa độ hoặc chọn vị trí trên bản đồ
                </div>
                <div class="col-3">
                    <h3>Latitude </h3>
                </div>
                <div class="col-9 form-group"><input type="text" class="form-control"></div>
                <div class="col-3">
                    <h3>Longitude </h3>
                </div>
                <div class="col-9 form-group"><input type="text" class="form-control"></div>
            </div>
            <div class="col-6"><img src="https://sa.tinhte.vn/2012/12/3253368_1.jpg" alt=""
                    style="height: 300px; width: 600px;"></div>
        </div>
        <div style="padding: 20px;">
            <h3> Thông tin chi tiết </h3>
        </div>
        <div class="row create-detail">
            <div class="col-6 row">
                <div class="col-5">
                    <h3>Số tầng</h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
                <div class="col-5">
                    <h3>Số phòng tắm</h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
                <div class="col-5">
                    <h3>Đường trước cửa</h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
                <div class="col-5">
                    <h3>Hướng nhà</h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
                <div class="col-5">
                    <h3>Pháp lý</h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
            </div>
            <div class="col-6 row">
                <div class="col-5">
                    <h3>Số phòng ngủ</h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
                <div class="col-5">
                    <h3>Mặt tiền rộng</h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
                <div class="col-5">
                    <h3>Số phòng tắm</h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
                <div class="col-5">
                    <h3>Hướng ban công</h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
                <div class="col-5">
                    <h3>Nội thất</h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
            </div>
        </div>
        <div class="create__img">
            <h3> HÌNH ẢNH </h3>
            Tối thiểu một ảnh tối đa 10 ảnh
            <div style="height:20px; "></div>
            <div class="row">
                <div class="col-2"><img src="https://ezcloud.vn/wp-content/uploads/2018/05/homestay-la-gi.png" alt="">
                </div>
                <div class="col-2"><img src="https://ezcloud.vn/wp-content/uploads/2018/05/homestay-la-gi.png" alt="">
                </div>
                <div class="col-2"><img src="https://ezcloud.vn/wp-content/uploads/2018/05/homestay-la-gi.png" alt="">
                </div>
                <div class="col-2"><img src="https://ezcloud.vn/wp-content/uploads/2018/05/homestay-la-gi.png" alt="">
                </div>
                <div class="col-2"><img src="https://ezcloud.vn/wp-content/uploads/2018/05/homestay-la-gi.png" alt="">
                </div>
                <div class="col-2"><img src="https://ezcloud.vn/wp-content/uploads/2018/05/homestay-la-gi.png" alt="">
                </div>
            </div>
        </div>
        <div style="padding: 20px;">
            <div class="form-group row">
                <div class="col-2">
                    <h2> Tên liên hệ </h2>
                </div>
                <div class="col-10"> <input type="text" class="form-control">
                </div>
            </div>
            <div style="padding-top: 20px;" class="row">
                <div class="col-6 row">
                    <div class="col-5">
                        <h3>Số điện thoại</h3>
                    </div>
                    <div class="col-7 form-group"><input type="text" class="form-control"></div>
                </div>
                <div class="col-6 row">
                    <div class="col-5">
                        <h3>Địa chỉ email</h3>
                    </div>
                    <div class="col-7 form-group"><input type="text" class="form-control"></div>
                </div>
            </div>
            <div style="height:20px"> </div>
            <div>
                <h2>LỊCH ĐĂNG TIN</h2>
                <div class="row">
                    <div class="col-6 row">
                        <div class="col-5">
                            <h3> Loại tin rao </h3>
                        </div>
                        <div class="col-7 form-group"><input type="text" class="form-control"></div>
                        <div class="col-5">
                            <h3> Ngày bắt đầu </h3>
                        </div>
                        <div class="col-7 form-group"><input type="date" class="form-control"></div>
                    </div>
                    <div class="col-6 row">
                        <div class="col-5">
                        </div>
                        <div class="col-7" style="height: 50px;"></div>
                        <div class="col-5">
                            <h3> Ngày kết thúc</h3>
                        </div>
                        <div class=" col-7 form-group"><input type="date" class="form-control"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group" style="text-align: center;">
            <button type="submit" class="btn btn-success" style="height: 50px;
                             width: 150px;
                              font-size: 24px;
                               background-color: rgb(108, 213, 46);">
                Đăng tin
            </button>
        </div>
    </form>
</div>