#create{
    background-color: white;
    border-radius: 15px;
    height: 100%;
}
input{
    height: 50px;
}
#title{
    width: 85%;
    float:right; 
    margin: 10px 20px 0px 0px;
}
#paradigm{
    width: 800px;
    height: 200px;
    margin: 20px 0px 0px 30px;
}
#createdetail{
    clear: left;
    padding: 20px;
}
h3{
    padding-bottom: 10px;
}
img{
    border: solid 1px red;
    width: 95%;
    height: 100px;
}