<app-hearder></app-hearder>
<div class="create">
    <h1 style="padding: 60px 0px 0px 20px;">THÔNG TIN CƠ BẢN</h1>
    <form name="form" (ngSubmit)="formData.form.valid && onSubmit(formData)" #formData="ngForm">
        <div class="form-group row">
            <div class="col-2">
                <h2 class="create create__title_pl-20"> Tiêu đề (*)</h2>
            </div>
            <div class="col-10">
                <div class="form-group" [ngClass]="{'has-error':formData.submitted && !title.valid }">
                    <input [ngModel]="product?.title" #title="ngModel" type="text" minlength="30"
                        class="form-control create__input-title" name="title" required>
                    <div *ngIf="formData.submitted && !title.valid" class="help-block">
                        Tiêu đề có ít nhất 30 ký tự
                    </div>
                </div>
            </div>
        </div>
        <div class="row description">
            <div class="col-2">
                <h2 class="description description-title"> Mô tả (*)</h2>
            </div>
            <div class="col-7">
                <div class="form-group" [ngClass]="{'has-error':formData.submitted && !title.valid }">
                    <textarea class="create create__form--textarea" [ngModel]="product?.description"
                        #description="ngModel" type="text" minlength="50" class="form-control" name="description"
                        required></textarea>
                    <div *ngIf="formData.submitted && !description.valid" class="help-block"> Mô tả không hợp lệ
                    </div>
                </div>
            </div>
            <div class="col-3 description description-intro">
                <div> Giới thiệu chung về bất động sản của bạn.
                    Ví
                    dụ: Khu nhà có vị trí
                    thuận lợi: Gần công
                    viên, gần trường học,... Tổng diện tích 52m2,đường đi ô tô vào tận cửa
                    <div class="description-note"> Lưu ý: Chỉ giao dịch bằng tiền Việt Nam Đồng
                    </div>
                </div>
            </div>
        </div>
        <div class="row information">
            <div class="col-6 row">
                <div class="col-5">
                    <h3>Diện tích </h3>
                </div>
                <div class="col-7 form-group">
                    <div class="form-group" [ngClass]="{'has-error':formData.submitted && !acreage.valid }">
                        <input [ngModel]="product?.properties.acreage" #acreage="ngModel" type="number"
                            class="form-control" name="acreage">
                        <div *ngIf="formData.submitted && !acreage.valid" class="help-block">
                            Giá trị lớn hơn 0
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <h3>Hình thức </h3>
                </div>
                <div class="col-7 form-group">
                    <input type="text" class="form-control"></div>
                <div class="col-5">
                    <h3>Tỉnh/Thành phố (*)</h3>
                </div>
                <div class="col-7 form-group">
                    <div class="form-group" [ngClass]="{'has-error':formData.submitted && !city_id.valid }">
                        <!-- SELECT CITY -->
                        <select (change)='onSeclet(1,$event.target.value)' [ngModel]="product?.city_id"
                            #city_id="ngModel" type="text" class="form-control" name="city_id">
                            <option *ngFor="let city of cityData" [value]="city.code">{{city.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-5">
                    <h3>Phường/Xã</h3>
                </div>
                <div class="col-7 form-group">
                    <div class="form-group" [ngClass]="{'has-error':formData.submitted && !wards_id.valid }">
                        <!--SELECT WARDS-->
                        <select (change)='onSeclet($event.target.value)' [ngModel]="product?.wards_id"
                            #wards_id="ngModel" type="text" class="form-control" name="wards_id">
                            <option *ngFor="let wards of wardsData" [value]="wards.code">
                                {{wards.name}}
                            </option>
                        </select>
                        <!-- Validate  -->
                        <div *ngIf="formData.submitted && !wards_id.valid" class="help-block">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 row">
                <div class="col-5">
                    <h3>Giá</h3>
                </div>
                <div class="col-7 form-group">
                    <div class="form-group" [ngClass]="{'has-error':formData.submitted && !price.valid }">
                        <input [ngModel]="product?.properties.price" #price="ngModel" type="number" class="form-control"
                            name="price">
                        <div *ngIf="formData.submitted && !price.valid" class="help-block">
                            Giá trị lớn hơn 0
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <h3>Loại đất </h3>
                </div>
                <div class="col-7 form-group">
                    <div class="form-group" [ngClass]="{'has-error':formData.submitted && !category.valid }">
                        <input [ngModel]="product?.properties.category" #category="ngModel" type="text"
                            class="form-control" name="category">
                        <div *ngIf="formData.submitted && !category.valid" class="help-block">
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <h3>Quận/Huyện (*) </h3>
                </div>
                <div class="col-7 form-group">
                    <div class="form-group" [ngClass]="{'has-error':formData.submitted && !district_id.valid }">
                        <select (change)='onSeclet(2,$event.target.value)' [ngModel]="product?.district_id"
                            #district_id="ngModel" type="text" class="form-control" name="district_id">
                            <option *ngFor="let district of districtData" [value]="district.code">{{district.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-5">
                    <h3>Đường/Phố(*) </h3>
                </div>
                <div class="col-7 form-group">
                    <div class="form-group" [ngClass]="{'has-error':formData.submitted && !street_id.valid }">
                        <select (change)='onSeclet($event.target.value)' [ngModel]="product?.street_id"
                            #street_id="ngModel" type="text" class="form-control" name="street_id">
                            <option *ngFor="let street of streetData" [value]="street.code">{{street.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding: 20px;">
            <h3> Địa chỉ hiển thị:</h3>
        </div>
        <div class="row information">
            <div class="col-6 row">
                <div class="col-10">
                    <h2>Vị trí(*):</h2>
                    Nhập tọa độ hoặc chọn vị trí trên bản đồ
                </div>
                <div class="col-3">
                    <h3>Latitude </h3>
                </div>
                <div class="col-9 form-group">
                    <div class="form-group" [ngClass]="{'has-error':formData.submitted && !latitude.valid }">
                        <input (input)="input_lat($event.target.value)" [ngModel]="markers[0]?.lat" #latitude="ngModel"
                            type="text" class="form-control" name="latitude">
                        <div *ngIf="formData.submitted && !latitude.valid" class="help-block">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <h3>Longitude </h3>
                </div>
                <div class="col-9 form-group">
                    <div class="form-group" [ngClass]="{'has-error':formData.submitted && !longitude.valid }">
                        <input (input)="input_lng($event.target.value)" [ngModel]="markers[0]?.lng" #longitude="ngModel"
                            type="text" class="form-control" name="longitude">
                        <div *ngIf="formData.submitted && !longitude.valid" class="help-block">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <agm-map style="height: 350px; width: 610px;" [(latitude)]="latCentral" [(longitude)]="lngCentral"
                    [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
                    <agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label"
                        [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                    </agm-marker>
                </agm-map>
            </div>
        </div>
        <div style="padding: 20px;">
            <h3> Thông tin chi tiết </h3>
        </div>
        <div class="row information">
            <div class="col-6 row">
                <div class="col-5">
                    <h3>Số tầng</h3>
                </div>
                <div class="col-7 form-group">
                    <div class="form-group" [ngClass]="{'has-error':formData.submitted && !floors.valid }">
                        <input [ngModel]="product?.properties.floors" #floors="ngModel" type="number"
                            class="form-control" name="floors">
                        <div *ngIf="formData.submitted && !floors.valid" class="help-block">
                            Giá trị lớn hơn 0
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <h3>Số phòng tắm</h3>
                </div>
                <div class="col-7 form-group">
                    <div class="form-group" [ngClass]="{'has-error':formData.submitted && !baths.valid }">
                        <input [ngModel]="product?.properties.baths" #baths="ngModel" type="number" class="form-control"
                            name="baths">
                        <div *ngIf="formData.submitted && !baths.valid" class="help-block">
                            Giá trị lớn hơn 0
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <h3>Đường trước cửa</h3>
                </div>
                <div class="col-7 form-group">
                    <div class="form-group" [ngClass]="{'has-error':formData.submitted && !road_wide.valid }">
                        <input [ngModel]="product?.properties.road_wide" #road_wide="ngModel" type="number"
                            class="form-control" name="road_wide">
                        <div *ngIf="formData.submitted && !road_wide.valid" class="help-block">
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <h3>Hướng nhà</h3>
                </div>
                <div class="col-7 form-group">
                    <div class="form-group" [ngClass]="{'has-error':formData.submitted && !direction_balcony.valid }">
                        <input [ngModel]="product?.properties.direction_balcony" #direction_balcony="ngModel"
                            type="text" class="form-control" name="direction_balcony">
                        <div *ngIf="formData.submitted && !direction_balcony.valid" class="help-block">
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <h3>Pháp lý</h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
            </div>
            <div class="col-6 row">
                <div class="col-5">
                    <h3>Số phòng ngủ</h3>
                </div>
                <div class="col-7 form-group">
                    <div class="form-group" [ngClass]="{'has-error':formData.submitted && !beds.valid }">
                        <input [ngModel]="product?.properties.beds" #beds="ngModel" type="number" class="form-control"
                            name="beds">
                        <div *ngIf="formData.submitted && !beds.valid" class="help-block">
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <h3>Mặt tiền rộng</h3>
                </div>
                <div class="col-7 form-group">
                    <div class="form-group" [ngClass]="{'has-error':formData.submitted && !facade.valid }">
                        <input [ngModel]="product?.properties.facade" #facade="ngModel" type="number"
                            class="form-control" name="facade">
                        <div *ngIf="formData.submitted && !facade.valid" class="help-block">
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <h3>Số nhà vệ sinh</h3>
                </div>
                <div class="col-7 form-group">
                    <div class="form-group" [ngClass]="{'has-error':formData.submitted && !toilets.valid }">
                        <input [ngModel]="product?.properties.toilets" #toilets="ngModel" type="number"
                            class="form-control" name="toilets">
                        <div *ngIf="formData.submitted && !toilets.valid" class="help-block">
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <h3>Hướng ban công</h3>
                </div>
                <div class="col-7 form-group">
                    <div class="form-group" [ngClass]="{'has-error':formData.submitted && !direction_balcony.valid }">
                        <input [ngModel]="product?.properties.direction_balcony" #direction_balcony="ngModel"
                            type="text" class="form-control" name="direction_balcony">
                        <div *ngIf="formData.submitted && !direction_balcony.valid" class="help-block">
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <h3>Nội thất</h3>
                </div>
                <div class="col-7 form-group"><input type="text" class="form-control"></div>
            </div>
        </div>
        <div class="create__img">
            <h3> HÌNH ẢNH </h3>
            Tối thiểu một ảnh tối đa 10 ảnh
            <div *ngIf="!(imgAdd.length ===0)" style="display: flex;">
                <div *ngFor="let img of imgAdd; let i = index">
                    <div class="image-area">
                        <img src="http://devstorage.msell.com.vn/{{img}}" alt="Preview">
                        <button class="remove-image" (click)=deleteImg(i) style="display: inline;">&#215;</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <form [formGroup]="uploadForm">
                    <div class="button-wrapper">
                        <span class="label">
                            Upload File
                        </span>
                        <input type="file" multiple name="data_upload" (change)="onChange($event)" id="upload"
                            class="upload-box" placeholder="Upload File" style="height: 30px;">
                    </div>
                </form>
            </div>
        </div>
        <div class="detail-product">
            <div>
                <h2>LỊCH ĐĂNG TIN</h2>
                <div class="row">
                    <div class="col-6 row">
                        <div class="col-5">
                            <h3> Loại tin rao </h3>
                        </div>
                        <div class="col-7 form-group">
                            <div class="form-group"
                                [ngClass]="{'has-error':formData.submitted && !type_of_post.valid }">
                                <input [ngModel]="product?.properties.type_of_post" #type_of_post="ngModel"
                                    type="number" class="form-control" name="type_of_post">
                                <div *ngIf="formData.submitted && !type_of_post.valid" class="help-block">
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <h3> Ngày bắt đầu </h3>
                        </div>
                        <div class="col-7 form-group"><input type="text" class="form-control"></div>
                    </div>
                    <div class="col-6 row">
                        <div class="col-5">
                        </div>
                        <div class="col-7" style="height: 50px;"></div>
                        <div class="col-5">
                            <h3> Ngày kết thúc</h3>
                        </div>
                        <div class=" col-7 form-group"><input type="text" class="form-control"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group" style="text-align: center;">
            <button type="submit" class="btn btn-success">
                Cập nhật
            </button>
        </div>
    </form>
</div>