<div class="package-title">
    <div class="package-title-content">Gói đăng tin</div>
</div>
<div class="content">
    <div class="package-content">
        <div class="package-content-search">
            <i class="fa fa-search package-content-search-icon"></i>
            <input class="package-content-search-input" type="text" placeholder="Search"
                (input)="search($event.target.value)">
            <label for="s"></label>
        </div>
        <table class="table table-striped" [mfData]="package" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead class="table-thead">
                <tr>
                    <th class="table-thead-stt">STT</th>
                    <th>
                        <mfDefaultSorter by="packagecode">Mã gói</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="name">Tên gói</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="packagedate">Giá gói/Ngày</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="limitdate">Giới hạn</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="date">Ngày tạo</mfDefaultSorter>

                    </th>
                    <th>
                        <mfDefaultSorter class="table-thead-status" by="status">
                            Trạng thái
                        </mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter></mfDefaultSorter>
                    </th>
                </tr>
            </thead>
            <tbody class="table-tbody">
                <tr *ngFor="let item of mf.data; let i = index">
                    <td class="table-tbody-pt25 table-tbody-pt25-stt">{{i+1}}</td>
                    <td class="table-tbody-pt25">{{ item.packagecode }}</td>
                    <td class="table-tbody-pt25">{{ item.name }}</td>
                    <td class="table-tbody-pt25">{{ item.packagedate }}</td>
                    <td class="table-tbody-pt25">{{ item.limitdate | date }}</td>
                    <td class="table-tbody-pt25">{{ item.date | date }}</td>
                    <td class="table-tbody-pt25 table-tbody-pt25-status">
                        <div *ngIf="item.status">
                            <span class="table-tbody-pt25-status-true">
                                Đang
                                hoạt
                                động</span>
                        </div>
                        <div *ngIf="!(item.status)">
                            <span class="table-tbody-pt25-status-false"> Đã xóa</span>
                        </div>
                    </td>
                    <td class="table-tbody-setting">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-approved">
                                    <i style="color: rgb(97, 230, 52);" class="fa fa-check"></i></button>
                                <div>Duyệt</div>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-del" (click)="deletePackage(item.id)">
                                    <i style="color: rgb(252, 60, 12);" class="fas fa-trash"></i>
                                </button>
                                <div>Xóa</div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5, 10]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>