.package{
    background-color: white;
    margin-top: 20px;
    border-radius: 50px;
}
.search{
    float:right;
    background-color: rgb(237, 240, 254);
    margin: 8px;
    border-radius: 5px;
}
.table th{
    background-color: rgb(237, 240, 254);
}
.table td{
    height: 80px;
}
.table thead tr {
    background-color: rgb(237, 240, 254);
}
