#sidenav{
    position:fixed;
    background-color: white;
    min-height: 100vh;
}
img{
    height: 100px;
    width:100% ;
}
#sidenav .btn{
    background-color: white; 
    color: black; 
}
#sidenav .btn:hover{
    background-color:rgb(234, 236, 254); 
    border-left: solid 5px rgb(81, 116, 251);
    color: rgb(81, 116, 251);
}
.router-link-active{
    background-color:rgb(234, 236, 254); 
    border-left: solid 5px rgb(81, 116, 251);
    color: rgb(81, 116, 251);
}
