<app-hearder></app-hearder>
<div class="detail" *ngIf="product">
    <div class="search">
        <div class="search-detail">
            <i class="fa fa-search search-detail search-detail-icon"></i>
            <input class=" search-detail search-detail__input" type="text" placeholder="Search"
                (input)="search($event.target.value)">
            <label for="s"></label>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="table table-STT">STT</th>
                <th>
                    Mã sản phẩm
                </th>
                <th>
                    Ngày đăng
                </th>
                <th>
                    Khu vực
                </th>
                <th class="table table-status" by="status">
                    Trạng thái
                </th>
                <th class="table table-setting">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="product">
                <td class="table-tbody table-STT">1</td>
                <td class="table-tbody">
                    {{product_id}}
                </td>
                <td class="table-tbody">{{product.date_created | date:'dd/MM/yyyy'}}</td>
                <td class="table-tbody">{{product.city_id}}</td>
                <td class="table-tbody table-tbody-status">
                    <div *ngIf="product.status">
                        <span class="table-tbody-status-true">Đợi
                            duyệt</span>
                    </div>
                    <div *ngIf="!(product.status)">
                        <span class="table-tbody-status-false"> Đã
                            xóa</span>
                    </div>
                </td>
                <td>
                    <div class="row table__btn">
                        <div class="col-4 table__btn--btn">
                            <button type="button" class="btn btn-approved">
                                <i class="fa fa-check btn--icon-approved"></i></button>
                            <div>Duyệt</div>
                        </div>
                        <div class="col-4 table__btn--btn">
                            <button type="button" class="btn btn-del" (click)="deletePost()">
                                <i class="fas fa-trash btn--icon-del"></i></button>
                            <div>Xóa</div>
                        </div>
                        <div class="col-4 table__btn--btn">
                            <a [routerLink]="['/edit/product', product_id]">
                                <button type="button" class="btn btn-update" (click)="edit()">
                                    <i class="fas fa-trash btn--icon-update"></i>
                                </button>
                            </a>
                            <div>Cập nhật</div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="detail-product">
        <div class="row">
            <div class="col-12">
                <span> Tiêu đề:</span>
                {{product.title}}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <span>Giá:</span> {{product.properties.price}}
            </div>
            <div class="col-3">
                <span>Diện tích:</span> {{product.properties.acreage}}
            </div>
            <div class="col-3">
                <span>Hình thức:</span> Bán
            </div>
            <div class="col-3">
                <span>Loại BĐS:</span>{{product.properties.category}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span>Địa chỉ:</span>{{product.properties.address}}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span>Gói đăng tin:</span> <i><u>{{product.properties.type_of_post}}</u></i>
            </div>
            <div class="col-4">
                <span>Ngày bắt đầu:</span>
                19-09-2019
            </div>
            <div class="col-4">
                <span>Ngày kết thúc:</span>
                30-09-2019
            </div>
        </div>
        <div class="detail-product-table">
            <table>
                <tr>
                    <td>Số tầng</td>
                    <th>3</th>
                </tr>
                <tr>
                    <td>Số phòng ngủ</td>
                    <th>{{product.properties.beds}}</th>
                </tr>
                <tr>
                    <td>Số phòng tắm</td>
                    <th>{{product.properties.baths}}</th>
                </tr>
                <tr>
                    <td>Số toilet</td>
                    <th>{{product.properties.toilets}}</th>
                </tr>
                <tr>
                    <td>Hướng nhà</td>
                    <th>{{product.properties.direction_balcony}}</th>
                </tr>
                <tr>
                    <td>Hướng ban công</td>
                    <th>{{product.properties.direction_balcony}}</th>
                </tr>
                <tr>
                    <td>Mặt tiền rộng</td>
                    <th>{{product.properties.facade}}</th>
                </tr>
                <tr>
                    <td>Đường trước cửa</td>
                    <th>{{product.properties.road_wide}}</th>
                </tr>
                <tr>
                    <td>Pháp lý</td>
                    <th>Sổ đỏ</th>
                </tr>
                <tr>
                    <td>Nội thất</td>
                    <th>Đầy đủ</th>
                </tr>
            </table>
            <img class="detail-product-img-map"
                src="https://lh3.googleusercontent.com/gRixG4OCS4S7Fb0Ztm8UQVkIaj3z5gKECXOiR2D2ldvS6oZEVfmNuii4tvh-_DjI_qNRJOGO=w640-h400-e365"
                alt="">
        </div>
        <div class="detail-product-img-product">
            <img src="https://ezcloud.vn/wp-content/uploads/2018/05/homestay-la-gi.png" alt="">
            <img src="https://ezcloud.vn/wp-content/uploads/2018/05/homestay-la-gi.png" alt="">
            <img src="https://ezcloud.vn/wp-content/uploads/2018/05/homestay-la-gi.png" alt="">
            <img src="https://ezcloud.vn/wp-content/uploads/2018/05/homestay-la-gi.png" alt="">
            <img src="https://ezcloud.vn/wp-content/uploads/2018/05/homestay-la-gi.png" alt="">
        </div>
        <div class="row detail-product__btn">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <button type="button" class="btn" style="background-color: rgb(108, 213, 46)">Duyệt
                            tin</button> </div>
                    <div class="col-4">
                        <button type="button" class="btn" style="background-color: rgb(224, 54, 33);">Gỡ
                            tin</button> </div>
                    <div class="col-4">
                        <button type="button" class="btn" style="background-color: rgb(51, 197, 253);">Sửa
                            tin</button> </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>